@import url('http:fonts.googleapis.com/css2?family=ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
}
:root
{
    --blue: #287bf2;
    --white:#fff;
    --grey: #f5f5f5;
    --black: #222;
    --black1: #999;
}
body{
    min-height: 100v;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 50%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left:10px solid var(--blue);
    transition: 0.5%;
    overflow:hidden;

}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.navigation ul li
{
   position: relative;
   width:200%;
   list-style:none;
   
}
.navigation ul li:hover
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigataion ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);

}
.navigation ul li:hover a
{
    color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
}
.navigation ul li a .title
{
    position:relative;
    display: block;
    padding:0 10px;
    height: 60px;

}